.env
.venv
test
DN_AI
__pycache__
chat_records.txt
wcf.txt
wcf.lock
*.xlsx
*.pkl
*.graphml
*.log
logs
venv
.wcf.lock
.pytest_cache
*.md


testDB
output
logs
.next/
examples/
.cursor/
src/everything2doc.egg-info/

backend/venv/
backend/projects/
backend/alembic.ini
